.userRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.contactUserList {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.contactUserList .userRow {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
