.sideMenu {
  min-width: 300px;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgb(255, 255, 255);
  transition: all 0.7s cubic-bezier(0.13, 1.01, 0.97, 0.79);
  padding-top: 20px;
  position: relative;
}
.clogBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sideMenuItem_Box {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
  margin-top: 40px;
  position: relative;
  height: -webkit-fill-available;
  overflow-y: scroll;
  padding-bottom: 90px;
}
.sideMenuItemMainBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.sideMenuItem {
  width: 100%;
  min-height: 55px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
.sideMenuItem img {
  width: 20px;
  position: absolute;
  right: 20px;
  transition: all 0.7s;
}
.sideMenuItem:hover {
  background: #5ab15b;
}
.sideMenuItem:hover p {
  color: #fff;
}
.ActiveSideMenuItem {
  background: #5ab15b;
  box-shadow: 0px 10px 30px 0px #5ab15b66;
}

.sideMenuItem p {
  font-size: 18px;
  color: #44465a;
  font-weight: 600;
  transition: all 0.2s;
}
.ActiveSideMenuItem p {
  color: #ffffff;
}
.subMenuItemBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #00b30029;
  border-radius: 8px;
  transition: all 0.6s;
  transform-origin: top;
  overflow: hidden;
}
.subMenuItem {
  cursor: pointer;
  transition: all 0.5s;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.subMenuItemActive {
  background: #5ab15b;
}
.subMenuItemActive p {
  color: #fff !important;
}
.subMenuItem p {
  color: #44465a;
  transition: all 0.2s;
}
.subMenuItem:hover {
  background: #5ab15b;
}
.subMenuItem:hover p {
  color: #fff;
}

.Clog_Box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Clog_Box p {
  color: #fe8903;
  font-size: 25px;
  font-weight: 600;
}
.Clog_Box samp {
  color: #00b300;
}
.menuActionBtn {
  width: 87%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  z-index: 1;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 4px;
  background: #fff;
}
.menuActionBtnActive {
  left: 20px;
}
.menuActionBtn::before {
  content: "";
  position: absolute;
  inset: 0; /* Covers the entire div */
  border-radius: 12px; /* Same as parent */
  padding: 2px; /* Border thickness */
  background: linear-gradient(94.67deg, #5ab15b 0%, #fe8903 100%);
  -webkit-mask: linear-gradient(white 0 0) content-box,
    linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.menuActionBtn p {
  font-weight: 600;
  color: #44465a;
  margin-left: 16px;
  white-space: nowrap;
}
.menuActionBtn img {
  width: 20px;
}
.sideMenuItem_Box_C .menuActionBtn {
  width: 80%;
  left: 6px;
}
