@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppinsBold";
  src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html{
  overflow: hidden;
}

/* WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: gray; /* Gray scrollbar */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray; /* Slightly darker on hover */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: gray #f1f1f1; /* Thumb color (gray) and track color (light gray) */
}
