.sectionTMainBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.leftListBox {
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 20px;
  background: #fff;
  padding: 20px;
}
.sectionTMainBox .productDataMainBox {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
}
.itemTileList {
  width: 100%;
  height: 66vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.faqQuestionList {
  height: 66vh;
  overflow-y: scroll;
}

.titleItem {
  width: 100%;
  /* min-height: 40px; */
  border-radius: 10px;
  background: #5ab15b5e;
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.titleItem p{
  line-height: 20px;
}
.titleItem:hover {
  background: #5ab15b94;
}
.titleItemActive {
  background: #5ab15b94;
  box-shadow: 0px 10px 30px 0px #5ab15b66;
}

.inputLabel {
  font-size: 14px;
  color: #6a6a6a;
  margin-bottom: 5px;
}
.cardTopBtnBox {
  position: absolute;
  top: 5px;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.cardTopBtnBoxColaps {
  top: 23px;
}
.cardTopBtnBox img {
  cursor: pointer;
}
.editIcon,
.deleteIcon {
  width: 20px;
}
.addSection {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.addSection .sectionHeader {
  margin: 0;
}
.createBox {
  background: #5ab15b1a;
  border: 1px solid green;
}
.nodataBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nodataBox img {
  width: 30%;
}
.faqRIcon {
  width: 40px;
}
.faq_title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
