.applyUserCard {
  width: 30%;
  padding-right: 20px;
  position: relative;
}
.applyUserCardBtn {
  width: 100%;
  display: flex;
  justify-content: end;
}
.applyUserViewBox {
  width: 40%;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color: #333;
}

.applicant-info {
  margin-bottom: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-weight: 600;
  color: #555;
}

.value {
  color: #222;
}
.statusDropBox {
  height: 35px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(128, 128, 128, 0.281);
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}
.dropItemBox {
  position: absolute;
  width: 100%;
  flex-direction: column;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.178);
}
.dropItemBox div {
  height: 30px;
  width: 100%;
  padding-left: 16px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}
.dropItemBox div:hover {
  background: rgba(128, 128, 128, 0.199);
}
.dropItemBox div p {
  font-size: 14px;
}
.statusDropBox .downArrow {
  width: 15px;
}

.pending {
  background: #ffe8a1;
  color: #8a6d00;
}
.reviewed {
  background: #d0ebff;
  color: #004085;
}
.shortlisted {
  background: #c3f0ca;
  color: #155724;
}
.rejected {
  background: #f8d7da;
  color: #721c24;
}
.hired {
  background: #d4edda;
  color: #155724;
}

.resume-link a {
  font-size: 14px;
  font-weight: 500;
  color: #007bff;
  text-decoration: none;
}

.resume-link a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.no-resume {
  font-size: 14px;
  color: #888;
  font-style: italic;
}
.statusBox {
  position: absolute;
  top: -13px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 14px;
  border-radius: 6px;
}
.statusBox p {
  font-size: 12px;
}
