/* General container styling */
.upload-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
}
.upload-container input {
}
/* Heading styling */
.upload-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* File input styling */
.upload-input input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s;
}

.upload-input input:focus {
  border-color: #007bff;
}

/* Thumbnails container */
.preview-container {
  width: 100%;
  height: 100%;
  display: flex;
}

/* Each thumbnail */
.preview-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.preview-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Delete button for each thumbnail */
.preview-item .delete-btn {
  position: absolute;
  top: -30px;
  right: 38px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.preview-item .delete-btn:hover {
  transform: scale(1.2);
}

/* Upload button styling */
.upload-btn {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.upload-btn:hover:not(:disabled) {
  background-color: #0056b3;
}
.uploadImgIcon {
  width: 40px;
  height: 40px;
}
#fileInput {
  /* display: none; */
  width: 60px;
  height: 26px;
  border: 3px solid #fdaf17;
  margin-right: 16px;
}
.imgAltTextInput {
  width: 100%;
  position: absolute;
  bottom: -43px;
  left: 0px;
  border: 1px solid red;
  padding-left: 5px;
  font-size: 12px;
  border-radius: 5px;
}
.imgAltTextInput :focus {
  outline: none;
}
.CEImgUploadIcon {
  position: absolute;
  top: -32px;
  right: 0px;
  width: 24px;
}
