.minassIcom {
  width: 48px;
  position: relative;
  top: 0px;
}
.categoryNormalView {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.categoryImgBox {
  width: 129px;
  height: 70px;
  padding: 2px;
  background: #5ab15b;
  border-radius: 8px;
}
.categoryNImg {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.ctgTextBox {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.categoryEditView {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
}
.cciBox .CEImgUploadIcon {
  top: 6px;
  right: 28px;
  width: 50px;
  z-index: 1;
  opacity: 0.3;
}
.cciBox .preview-item .delete-btn {
  right: 0px;
}
.inputTwoBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 10px;
}
.inToIn {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.inToIn input {
  margin-bottom: 0;
}
.slugString {
  margin-bottom: 20px;
  font-size: 14px;
  color: rgba(128, 128, 128, 0.349);
  position: relative;
  top:-4px;
}
