.radioBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 20px 0;
}
.radioBox input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.mostPIcon {
  position: absolute;
  top: -13px;
  left: -6px;
  width: 40px;
}
.PricePage .titleItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.PricePage .titleItem img {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.PriceHomeIcon {
  opacity: 0.6;
}
.planDorp .DropBox {
  bottom: -26px;
}
.priceInputBox .thrInputBox {
  width: 32%;
}
