.skillInputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skillListBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  padding: 5px 20px 5px 0;
}
.skillItemBox {
  height: 34px;
  padding: 0 20px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5ab15b;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.skillItemBox p {
  color: #fff;
}
.skillItemBox:hover div {
  display: flex;
  transition: all 0.5s;
}

.skillItemBox div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.274);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
.skillItemBox div img {
  width: 20px;
}
.skillInput_Box {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.skillAddIcon {
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.skillInput_Box input {
  margin: 0;
}
