.feturesBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.fetureItemBox {
  width: 300px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 5px;
}
.fetureItemBox textarea {
  height: 100%;
}
.fetureItemBox textarea,
.fetureItemBox input {
  padding-left: 5px;
}
.productCreateBox {
  width: 100%;
}
.threeInBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 19px;
  margin-bottom: 10px;
}
.thrInputBox {
  width: 49%;
}
.featuresBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 20px;
}
.featureInputCard {
  width: 48%;
  border: 1px solid #ff9361;
  padding: 16px 16px 0 16px;
  border-radius: 20px;
}
.featuresBox input {
  height: 35px;
}
.featureBtnBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.overviewInputBox {
  border: 1px solid #ff9361;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}
.overViewInputBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.editTitleBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.editTitleBox img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.SectionDropIcon {
  position: absolute;
  right: 42px;
  transition: all 1s;
}
.ProductSection {
  border: 1px solid green;
  padding: 10px;
  border-radius: 20px;
  margin: 20px 0;
}
.updateProductSection {
  overflow: hidden;
}
.productSection .section {
  padding-right: 20px;
}
.updateSectionBtnBox {
  width: 100%;
  display: flex;
  justify-content: end;
}
.tabelBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-top: 20px;
}
.tableRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.212);
}
.headerTableRow .tableSel {
  height: auto;
}
.tableSel {
  width: 16%;
  height: 60px;
  display: flex;
  align-items: center;
}
.tableHeader {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  padding-left: 10px;
}
.tableSel input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
}
.inputTableRow .tableSel {
  border: 1px solid gray;
}
.docR .tableSel {
  width: 25%;
}
.addSecton {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: end;
  gap: 6px;
}
.subSectionTitle{
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}