.userRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.userSRow {
  display: flex;
  flex-direction: column !important;
  align-items: start !important;
  gap: 7px !important;
}
.docBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}
.docBox .appBtn {
  position: absolute;
  bottom: -50px;
  right: 0px;
}
.docBox img {
  width: 200px;
  height: 100px;
}
.docFrame {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}
.docA {
  border: 3px solid green;
}
.docP {
  border: 3px solid yellow;
}
.docR {
  border: 3px solid red;
}
.docPopFrame {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 99;
}
.docPopFrame .docPopImg {
  width: 60%;
}
.popDocBtnBox {
  position: absolute;
  top: 0px;
  right: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.popDocBtnBox img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.rejectMessageInput {
  width: 100%;
  height: 100px;
  border: 1px solid red;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.rejectMessageInput:focus {
  outline: none;
}
.statusBox input {
  width: 15px;
  height: 15px;
}
.Product_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.productItem {
  background: #5ab15b5e;
  height: 50px;
  padding: 16px;
  border-radius: 15px;
  border: 1px solid #048b0696;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.productItemActive {
  background-color: #18581a94;
}
.productItemActive p {
  color: #fff;
}
.UserInfo_section {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.whiteSection {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
}
.Product_list_mainBox {
  width: 100%;
}
.docCategoryBox {
  margin-bottom: 20px;
}
.udocSHeader {
  margin-bottom: 20px;
}
.docCardBox {
  padding: 20px;
  margin-top: 20px;
  background: #fa8a0514;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.docCard {
  min-width: 320px;
  border-radius: 15px;
  padding: 15px;
  background: #5ab15b5e;
  border: 1px solid #048b0696;
}
.docCTitle {
  font-size: 14px;
}
.doc_nAb {
  color: #a90000;
  font-size: 12px;
  margin: 15px 0;
}
.docStatusBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.downloadLink div {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 15px 0;
  padding-left: 20px;
}
.downloadLink div img {
  width: 20px;
}
.downloadLink div p {
  color: #000000;
  text-decoration: unset;
  font-size: 14px;
}
.docStatusBox .DropBox {
  width: 145px !important;
}
